<?xml version="1.0"?>
<robot name="chessboard">

    <!-- virtual link -->
    <link name="world"/>

    <joint name="chessboard_mount" type="fixed">
        <origin xyz="0.3 0 0.45"/>
        <parent link="world"/>
        <child link="chessboard"/>
    </joint>

    <link name="chessboard">
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                     iyy="1.0" iyz="0.0"
                     izz="1.0"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://ocam-calibration/meshes/chessboard.dae"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://ocam-calibration/meshes/chessboard.dae"/>
            </geometry>
        </collision>
    </link>

    <gazebo>
        <static>true</static>
        <gravity>false</gravity>
    </gazebo>
</robot>