<?xml version="1.0"?>
<robot name="calib_setup" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- camera props -->
    <xacro:property name="hfov" value="${radians(185)}"/>
    <xacro:property name="fps" value="25"/>
    <xacro:property name="width" value="754"/>
    <xacro:property name="height" value="480"/>
    <xacro:property name="clip_near" value="0.02"/>
    <xacro:property name="clip_far" value="100"/>

    <link name="box">
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                     iyy="1.0" iyz="0.0"
                     izz="1.0"/>
        </inertial>
        <visual>
            <geometry>
                <box size="0.1 0.1 0.5"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.1 0.5"/>
            </geometry>
        </collision>
    </link>

    <!-- Camera -->
    <joint name="fisheye_mount" type="fixed">
        <origin xyz="0.05 0 0.2" rpy="0 0 0"/>
        <parent link="box"/>
        <child link="fisheye_camera"/>
    </joint>

    <link name="fisheye_camera">
        <visual>
            <origin rpy="0 0 ${pi}"/>
            <geometry>
                <mesh filename="package://ocam-calibration/meshes/camera.dae" scale="0.7 0.7 0.7"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <joint name="fisheye_optical_mount" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        <parent link="fisheye_camera"/>
        <child link="fisheye_optical"/>
    </joint>

    <link name="fisheye_optical"/>

    <gazebo reference="fisheye_camera">
        <sensor name="fisheye" type="wideanglecamera">
            <update_rate>${fps}</update_rate>
            <always_on>true</always_on>

            <camera>
                <horizontal_fov>${hfov}</horizontal_fov>
                <image>
                    <width>${width}</width>
                    <height>${height}</height>
                </image>
                <clip>
                    <near>${clip_near}</near>
                    <far>${clip_far}</far>
                </clip>

                <!-- See https://en.wikipedia.org/wiki/Fisheye_lens#Mapping_function -->
                <lens>
                    <!-- gnomonical, stereographic, equidistant, equisolid_angle, orthographic -->
                    <type>orthographic</type>

                    <!-- if it is set to `true` your horizontal FOV will remain as defined -->
                    <!-- otherwise it depends on lens type and custom function, if there is one -->
                    <scale_to_hfov>true</scale_to_hfov>

                    <!-- clip everything that is outside of this angle -->
                    <cutoff_angle>${pi/2]</cutoff_angle>

                    <!-- resolution of the cube-map texture, the higher it is - the sharper is your image -->
                    <env_texture_size>512</env_texture_size>
                </lens>
            </camera>

            <plugin name="fisheye_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0</updateRate>
                <cameraName>fisheye</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>fisheye_optical</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo>
        <static>true</static>
        <gravity>false</gravity>
    </gazebo>
</robot>